<!DOCTYPE html>
<html>
  <head>
    <!-- For web browser -->
    <link rel="stylesheet" type="text/css" href="../src/stylesheet.css">
    <!-- For web browser -->

    <meta charset="UTF-8" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  </head>
  <body class="main">
    <%= content %>
  </body>
</html>
