<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <script>
    function subst() {
      var vars = {};
      var x = document.location.search.substring(1).split('&');
      for (var i in x) {
        var z = x[i].split('=',2);
        vars[z[0]] = decodeURI(z[1]);
      }
      var x = [
        'topage',
        'page',
      ];
      for (var i in x) {
        var y = document.getElementsByClassName(x[i]);
        for (var j = 0; j < y.length; ++j) {
          y[j].textContent = vars[x[i]];
        }
      }
    }
    </script>
    <style>
      body { width: 100%; border:0; }
      div { padding-top: 5mm; }
      table { border-top: 1px dashed black; width: 100% }
      td { text-align: right; padding-top: 2mm; }
    </style>
  </head>
  <body onload="subst();">
    <div>
      <table>
        <tr>
          <td> Page <span class="page"></span> of <span class="topage"></span></td>
        </tr>
      </table>
    </div>
  </body>
</html>
