* {
  vertical-align: bottom;
  line-height: 200%;
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
}

body.main   { width: 100%; }
body.main * { page-break-inside: avoid !important; }

body.main p.pagebreak {
  page-break-after: always;
}

body.main br {
  line-height: 100%;
  page-break-before: always;
}

body.main h1 {
  page-break-before: left;
  border-bottom: 0.5mm solid #0000ff;
}

body.main h2 {
  border-left : 10pt solid #0000ee;
  padding-left : 10pt;
}

body.main img {
  max-width: 100%;
}

body.main table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000000;
}

body.main table td {
  padding: 2mm;
  border: 1px solid #000000;
  vertical-align: top;
}

body.main table th {
  text-align: center;
  padding: 2mm;
  border: 1px solid #000000;
}

body.main pre {
  font-size: 10pt;
  background-color: #EFEFEF;
  border: 1px solid #888888;
  -webkit-border-radius: 5mm;
  padding: 5mm;
  overflow-wrap: normal;
}

body.main pre > code {
  padding 
  overflow-wrap: normal;
  font-family: 'Courier', sans-serif;
  font-weight: 900;
}


body.main p > code {
  font-family: 'Courier', sans-serif;
  font-weight: 900;
  -webkit-border-radius: 2mm;
  border: 1px solid #888888;
  padding: 1mm;
  padding-left: 2mm;
  padding-right: 2mm;
}
